label {
    font-size: 25px;
}
input {
    font-size: 15px;
   
}
.title {
    font-size: 30px;
    color: blue;
}
body {
    background: turquoise;
}
.act-time {
    display: inline-block;

}
.act-datetime {
    display: inline-block;
    
}